* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    background: #f1f1f1;
    font-style: 'Montserrat';
    
}


.home-page {
    background-image: url('https://res.cloudinary.com/dedz0kba0/image/upload/v1761750676/30918-irish-boiled-dinner-corned-beef-mfs-beauty-4x3-BP-2607-8131bd72e0cb4fb59563085f9394b2c7_qiero4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-blend-mode: overlay;
    z-index: 0;
    height: 90vh;

}

.home-page::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;

}

.hero-menu {
    position: absolute;
    inset: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.hero-menu h1 {
    font-size: 3rem;
    letter-spacing: 5px;
}

.gallery-section {
    background: #fff;
}

.filter-menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
    padding-top: 150px;
    flex-wrap: wrap;
}

.filter-btn {
    background: none;
    border: none;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333;
    cursor: pointer;
    padding: 8px 18px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.filter-btn:hover {
    background: #000;
    color: #fff;
}

.filter-btn.active {
    background-color: #000;
    color: #fff;
}

.gallery {
  position: relative;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  min-height: 950px;
  padding-top: 70px;
  cursor: pointer;
}

.gallery-item {
  position: absolute;
  width: calc(33.333% - 20px);
  height: 280px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0.6s ease, opacity 0.4s ease;
}

.gallery-item::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0);
    transition: background 0.4s ease;
}

.gallery-item:hover::after {
    background: rgba(250, 129, 47, 0.5);
}

.gallery-item.hide {
  opacity: 0;
  transform: translateY(40px);
  pointer-events: none;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.9s ease;
}

.gallery-item:hover img {
  transform: scale(1.09);
}

.lightbox {
    position: fixed;
    top: 25px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.lightbox.active {
    opacity: 1;
    pointer-events: all;
}

.lightbox img {
    max-width: 90%;
    max-height: 70vh;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.lightbox-close {
    position: absolute;
    top: 50px;
    right: 100px;
    font-size: 3rem;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3s ease;
}

.lightbox-close:hover {
    color: #FA812F;
}

.lightbox-prev,
.lightbox-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    user-select: none;
    transition: color 0.3s ease;
}

.lightbox-prev:hover,
.lightbox-next:hover {
    color: #FA812F;
}

.lightbox-prev {
    left: 40px;
}

.lightbox-next {
    right: 40px;
}

.lightbox.fade-out img {
    opacity: 0;
    transform: translateX(-40px);
}

.lightbox.fade-in img {
    opacity: 1;
    transform: translateX(0);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 0 auto;
    min-height: 250px;
    padding-bottom: 60px;
}

.page-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #ddd;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.page-btn:hover {
    background-color: #333;
    color: #fff;
}

.page-btn.active {
    background: #333;
    color: #fff;
    border-color: #333;
}

.special-signup {
    text-align: center;
    padding: 80px 20px;
    background: #f2f2f2;
}

.special-signup .row {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

.special-signup h3 {
    font-size: 22px;
    letter-spacing: 2px;
    color: #222;
    white-space: nowrap;
    font-weight: 600;
    flex: 0 0 auto;
    transform: translateY(-9px);
    font-family: 'Montserrat';
}

.signup-form {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 0 0 auto;
}

.input-group {
    position: relative;
    display: inline-block;
}

.input-group input[type="email"] {
    padding: 14px 46px 14px 18px;
    width: 280px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #FA812F;
    box-shadow: none;
}

.input-group .icon {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
}

.signup-form button {
    padding: 12px 34px;
    background: #111;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
    letter-spacing: 1px;
}

.signup-form button:hover {
    background: #FA812F;
}