html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.home-page {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}

.home-page::before {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: rgb(0,0,0,0.7);
}

.top-line {
    width: 100%;
    height: 5px;
    background-color: #FA812F;
    position: fixed;
    z-index: 10001;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1001;
    line-height: 80px;
    margin: 0 auto;
    gap: 120px;
}


.nav-bar.scrolled {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


.logo {
    position: relative;
    cursor: pointer;
    bottom: 20px;
}

.logo-img {
    height: 40px;
    transition: opacity 0.6s ease, transform 0.6s ease;
    position: absolute;
}


.logo-img.dark {
    opacity: 0;
}

.nav-bar.scrolled .logo-img.light {
    opacity: 0;
}

.nav-bar.scrolled .logo-img.dark {
    opacity: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    font-weight: 500;
    font-family: 'Montserrat';
}

.nav-links li a:hover {
    color: #FA812F;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}
.nav-bar.scrolled .nav-links a {
    color: #FA812F;
}

.nav-bar.scrolled .nav-links a:hover {
    color: #000;
}

.social-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.social-icon a {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icon a:hover {
    color: #FA812F;
}

.nav-bar.scrolled .social-icon a {
    color: #FA812F;
    border-radius: 3px;
}

.nav-bar.scrolled .social-icon a:hover {
    color: #000;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 16px;
    cursor: pointer;
    z-index: 1001;
}


.burger-menu span {
    display: block;
    background: #FFF;
    height: 3px;
    transition: all 0.3s ease;
}

.burger-menu:hover span {
    background-color: #FA812F;
}

.nav-bar.scrolled .burger-menu span {
    background: #FA812F;
}

.nav-bar.scrolled .burger-menu:hover span {
    background: #000;
}

.side-menu {
    position: fixed;
    top: 0;
    width: 320px;
    height: 100%;
    flex-direction: column;
    z-index: 9999;
    display: flex;
    gap: 24px;
    background: #fff;
    padding: 20px;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    transition: right 0.9s ease;
    right: -100%;
}

.side-menu.show {
    right: 0;
}

.close-btn {
    font-size: 50px;
    font-weight: 300;  /* lighter stroke */
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
    position: absolute;
    right: 22px;

}
.close-btn:hover {
    color: #FA812F;
}

.side-menu .nav-links-side {
    display: flex;          /* override */
    flex-direction: column; /* stack vertically */
    list-style: none;
    gap: 20px;              /* space between items */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 60px;
}

.side-menu .nav-links-side li {
    font-weight: 300;
}


.side-menu .nav-links-side a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
}

.side-menu .nav-links-side a:hover {
    color: #FA812F;
}

.side-menu .reserv-btn {
    display: inline-block;         /* keeps button size tight */
    margin: 2px auto 0;           /* space above + centered */
    padding: 15px 20px;
    background: #000;
    border-radius: 12px;        
    color: #FFF;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 12px;
    transition: all 0.3s ease;
    width: auto;
    min-width: 110px;              /* consistent width */

}

.side-menu .reserv-btn:hover {
    background: #FA812F;
    color: #fff;
}

.side-gallery {
    margin-bottom: 50px;
}

.side-gallery .sidebar-gallery {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.sidebar-gallery {
    letter-spacing: 3px;
}

.wrap-sidebar-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px 20px;
}

.item-gallery-sidebar {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}

.item-gallery-sidebar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

/* Add overlay effect */
.item-gallery-sidebar::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(250, 129, 47, 0.5); /* orange overlay, 50% transparent */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.item-gallery-sidebar:hover::after {
    opacity: 1;
}

.item-gallery-sidebar:hover img {
    transform: scale(1.05);
}

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgb(0,0,0,0.5);
}
.overlay.show {
    display: block;
}


.scroll-to-top-button {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 1000;
}

.symbol-btn-back-to-top {
    width: 40px;
    height: 40px;
    background: #2a2a2a;
    color: #fff;
    border: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.6;
    border-radius: 5px;
}

.symbol-btn-back-to-top:hover {
    background: #FA812F;
    transform: translateY(-4px);
    opacity: 1;
}

.footer {
    background-color: #111;
    padding: 80px 20px 40px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding-left: 45px;
}

.footer h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: 600;
    color: #fff;
}

.footer p,
.footer a,
.footer li {
    font-size: 14px;
    line-height: 1.8;
    color: #bfbfbf;
    text-decoration: none;
}

.footer a:hover {
    color: #FA812F;
}

.contact-info {
    margin-right: 10px;
    color: #999;
}

.twitter-item {
    margin-bottom: 25px;
}

.twitter-item a {
    color: #FA812F;
    text-decoration: none;
}

.twitter-item a:hover {
    text-decoration: underline;
}

.twitter-item small {
    display: block;
    margin-top: 8px;
    color: #777;
    font-size: 13px;
}

.footer-gallery-container {
    overflow: hidden;
}

.footer-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
    padding-right: 50px;
    object-fit: contain;
    cursor: pointer;
    overflow: hidden;
}

.footer-gallery img {
    width: 100%;
    height: 75px;
    border-radius: 4px;
    transition: transform 0.9s ease;
}

.footer-gallery img:hover {
    transform: scale(1.09);
}


.footer-bottom {
    text-align: center;
    padding: 20px;
    font-size: 13px;
    color: #777;
    border-top: 1px solid #222;
    background: #000;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #FA812F;
}



@media (max-width: 915px) {

    body {
        width: 100%;
        font-size: 14px;
        line-height: 1.5;
    }

    * {
        box-sizing: border-box;
    }

    .nav-bar {
        width: 100%;
        line-height: 60px;
        padding:0 20px;
        height: 60px;
        justify-content: space-between;
    }

    .logo {
        z-index: 1001;
        bottom: 5px;
    }


    .logo-img {
        width: 55px;
        height: auto;
    }

    .nav-links {
        display: none;
    }

    .social-icon {
        position: relative;
        top: 5px;
        left: 50px;
    }



    .burger-menu {
        display: flex;
        height: 18px;
        width: 25px;
    }

    .close-btn {
        font-size: 30px;
    }

    .side-menu {
        width: 80%;
        padding: 20px;
        overflow-y: auto;
        right: -100%;
    }

    .side-menu .nav-links-side {
        padding-top: 30px;
        gap: 15px;

    }

    .side-menu .nav-links-side a {
        font-size: 10px;
    }

    .scroll-to-top-button {
        bottom: 20px;
        right: 20px;
    }

    .symbol-btn-back-to-top {
        width: 35px;
        height: 35px;
        font-size: 13px;
    }

    .footer {
        padding: 40px 15px 25px;
    }

    .footer-container {
        padding-left: 10px;
    }

    .footer h4 {
        font-size: 12px;
    }

    .footer p,
    .footer a,
    .footer li {
        font-size: 10px;
    }

    .footer-gallery img {
        height: 70px;
    }

    .twitter-item small {
        font-size: 10px;
    }

    .footer-bottom {
        font-size: 10px;
    }

}