html, body {
    padding: 0;
    margin: 0;
    background: #f1f1f1;
    font-style: 'Montserrat';
    
}


.home-page {
    background-image: url('https://res.cloudinary.com/dedz0kba0/image/upload/f_auto,q_auto/v1761750192/Inside_4_qml9i7.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-blend-mode: overlay;
    z-index: 0;
    height: 90vh;

}

.home-page::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;

}

.hero-menu {
    position: absolute;
    inset: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.hero-menu h1 {
    font-size: 4rem;
    letter-spacing: 5px;
}


.reservation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.reservation-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reservation-table h3 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #fa812f;
    margin-bottom: -20px;
}

.reservation-table h1 {
    font-size: 45px;
    letter-spacing: 5px;
    font-weight: 700;
}

.reservForm {
    min-height: 200px;
}

.reservForm form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 20px;
}

.reservForm label {
    font-weight: 400;
    margin-bottom: 6px;
    font-size: 18px;
    color: #666;
}



.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    padding: 12px 30px;
    border-radius: 10px;
    border: 2px solid #a5a4a4;
    font-size: 15px;
    background: #f9f9f9;
    transition: 0.3s ease;
    opacity: 0.7;
}

.form-control:focus {
    border-color: #fa812f;
    background: #fff;
    outline: none;
}

.reservForm button {
    width: 70%;
    padding: 12px 20px;
    font-size: 15px;
    background: #000;
    color: #fff;
    font-weight: 300;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    left: 135%;
    border: none;
    letter-spacing: 2px;
}

.reservForm button:hover {
    background-color: #fa812f;
    transform: scale(1.03);
}

.booking-text {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 150px;
    gap: 160px;
}

.text-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: left;
}

.text-column h2 {
    color: #222;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}
.text-column p {
    color: #777;
    font-size: 15px;
    font-style: monospace;
    white-space: normal;
    width: 500px;
    letter-spacing: 1px;
    margin: -5px auto;
}

.text-column span {
    color: #fa812f;
}


@media (max-width: 915px) {

    .home-page {
        height: 60vh;
    }

    .hero-menu {
        width: 100%;
        padding: 20px;
    }

    .hero-menu h1 {
        font-size: 2rem;
    }

    .reservation-table h3 {
        font-size: 18px;
    }

    .reservation-table h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .reservForm form {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .reservForm button {
        width: 100%;
        left: 0;
    }

    .reservForm label {
        font-size: 16px;
    }

    .reservation-section {
        padding-top: 50px;
    }

    .booking-text {
        flex-direction: column;
        padding: 50px 20px;
        gap: 20px;
    }

    .text-column p {
        width: 100%;
        font-size: 12px;
    }

}
