<footer class="footer">
        <div class="footer-container">

            <div>
                <h4>Contact Us</h4>
                <div class="contact-info">
                    <p><i class="fa-solid fa-location-dot"></i>  15 awe street, Off haruna bus-stop ogba, Lagos state, Nigeria.</p>
                    <p><i class="fa-solid fa-phone"></i>  +234 816 320 3624</p>
                    <p><i class="fa-regular fa-envelope"></i>  contact@site.com</p>
                </div>

                <h4 style="margin-top: 30px;">Opening Times</h4>
                <p>09:30 AM - 11:00 PM</p>
                <p>Every Day</p>
            </div>

            <div>
                <h4>Latest Twitter</h4>
                <div class="twitter-item">
                    <p><i class="fa-brands fa-twitter"></i> @lekeishere <br>
                        Actiello is a good option. It has a slider built into that displays the featured image in the slider.
                    <a href="#">https://lekeishere</a></p>
                    <small>21 Dec 2025</small>
                </div>
                <div class="twitter-item">
                    <p><i class="fa-brands fa-twitter"></i> @lekeishere <br>
                        Actiello is a good option. It has a slider built into that displays the featured image in the slider.
                    <a href="#">https://lekeishere</a></p>
                </div>
            </div>

            <div class="footer-gallery-container">
                <h4>Gallery</h4>
                <div class="footer-gallery">
                    <img src="images/closeup-shot-pink-rose-with-blurred-tables.jpg" alt="">
                    <img src="images/close-up-seafood-spaghetti-with-mussels-shrimp-tomato-sauce-parsley.jpg" alt="">
                    <img src="images/delicious-pizza-outdoors.jpg" alt="">
                    <img src="images/diego-hernandez-MSepzbKFz10-unsplash.jpg" alt="">
                    <img src="images/pasta-with-chicken-tomato-sauce-grated-cheese.jpg" alt="">
                    <img src="images/delicious-pasta-with-chorizo-slices.jpg" alt="">
                    <img src="images/male-woman-having-good-time.jpg" alt="">
                    <img src="images/nicolas-horn-MTZTGvDsHFY-unsplash.jpg" alt="">
                    <img src="images/seafood-spaghetti-with-mussels-shrimp-tomato-sauce-parsley.jpg" alt="">
                    <img src="images/spaghetti-with-meat-creamy-sauce-garnished-with-grated-parmesan.jpg" alt="">
                    <img src="images/side-view-penne-pasta-with-tomato-sauce-greens-plate.jpg" alt="">
                    <img src="images/pasta-with-tomato-sauce-with-vegetables.jpg" alt="">
                </div>
            </div>
        </div>


    </footer>
    <div class="footer-bottom">
        <p>© 2025 lekeSF.<a href="#"> Get The Theme</a>.</p>
        <span>Credit: <a href="https://colorlib.com">colorlib.com</a> </span>
    </div>