<footer class="footer">
        <div class="footer-container">

            <div>
                <h4>Contact Us</h4>
                <div class="contact-info">
                    <p><i class="fa-solid fa-location-dot"></i>  15 awe street, Off haruna bus-stop ogba, Lagos state, Nigeria.</p>
                    <p><i class="fa-solid fa-phone"></i>  +234 816 320 3624</p>
                    <p><i class="fa-regular fa-envelope"></i>  contact@site.com</p>
                </div>

                <h4 style="margin-top: 30px;">Opening Times</h4>
                <p>09:30 AM - 11:00 PM</p>
                <p>Every Day</p>
            </div>

            <div>
                <h4>Latest Twitter</h4>
                <div class="twitter-item">
                    <p><i class="fa-brands fa-twitter"></i> @lekeishere <br>
                        Actiello is a good option. It has a slider built into that displays the featured image in the slider.
                    <a href="#">https://lekeishere</a></p>
                    <small>21 Dec 2025</small>
                </div>
                <div class="twitter-item">
                    <p><i class="fa-brands fa-twitter"></i> @lekeishere <br>
                        Actiello is a good option. It has a slider built into that displays the featured image in the slider.
                    <a href="#">https://lekeishere</a></p>
                </div>
            </div>

            <div class="footer-gallery-container">
                <h4>Gallery</h4>
                <div class="footer-gallery">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742934/closeup-shot-pink-rose-with-blurred-tables_s4emcj.jpg" alt="">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742919/intro-04.jpg_ekdrkv.webp" alt="">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742915/intro-02.jpg_rrehfm.webp" alt="">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742907/Homemade-Ground-Beef-Lasagna_s4ar4u.png" alt="">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742818/ai-generated-pasta_-_Copy_cnwauk.jpg" alt="">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742763/close-up-seafood-spaghetti-with-mussels-shrimp-tomato-sauce-parsley_y0m3wp.jpg" alt="">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742755/backside-photo-romantic-black-couple-sitting-restaurant-wearing-elegant-clothes_-_Copy_sktcju.jpg" alt="">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742969/klara-kulikova-yjQDnOhGE34-unsplash_vu5f2r.jpg" alt="">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742996/nick-hillier-xBXF9pr6LQo-unsplash_llsnfv.jpg" alt="">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742998/plate-with-bread-fried-egg-avocado_loqhmp.jpg" alt="">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761743007/Ricotta-Polpette-FT-RECIPE0723-420aee27e58a410080366740cd1aa08c_nbkwav.jpg" alt="">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761743078/side-view-pizza-with-chopped-pepper-board-cookware_pa1nj5.jpg" alt="">
                </div>
            </div>
        </div>


    </footer>
    <div class="footer-bottom">
        <p>© 2025 lekeSF.<a href="#"> Get The Theme</a>.</p>
        <span>Credit: <a href="https://colorlib.com">colorlib.com</a> </span>
    </div>