<header>
    <div class="top-line"></div>
    <nav class="nav-bar">

        <div class="logo">
            <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742601/logo-light-transparent_sfbxkk.png" alt="logo" class="logo-img light">
            <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742557/logo-dark-transparent_nphmxk.png" alt="logo" class="logo-img dark">
        </div>


        <ul class="nav-links" id="navLinks">
            <li><a href="index.html">HOME</a></li>
            <li><a href="nav/menu.html">MENU</a></li>
            <li><a href="nav/reservation.html">RESERVATION</a></li>
            <li><a href="nav/gallery.html">GALLERY</a></li>
            <li><a href="nav/about.html">ABOUT</a></li>
            <li><a href="nav/blog.html">BLOG</a></li>
            <li><a href="nav/contact.html">CONTACT</a></li>
        </ul>

        <div class="social-icon">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>


        <div class="burger-menu" id="burger">
            <span></span>
            <span></span>
        </div>

    </nav>

    <aside class="side-menu" id="sideMenu">
        <div class="close-btn" id="closeBtn">&times;</div>

        <ul class="nav-links-side">
            <li><a href="index.html">HOME</a></li>
            <li><a href="nav/menu.html">MENU</a></li>
            <li><a href="nav/gallery.html">GALLERY</a></li>
            <li><a href="nav/about.html">ABOUT</a></li>
            <li><a href="nav/blog.html">BLOG</a></li>
            <li><a href="nav/contact.html">CONTACT</a></li>
        </ul>
        <a href="#" class="reserv-btn">RESERVATION</a>

        <div class="side-gallery" id="sideGallery">
            <h4 class="sidebar-gallery">
                Gallery
            </h4>

            <div class="wrap-sidebar-gallery">
                <a href="images/" class="item-gallery-sidebar">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761743094/restaurant-interior_zkuqmj.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761743096/spaghetti-with-meat-creamy-sauce-garnished-with-grated-parmesan_devwka.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761743041/seafood-spaghetti-with-mussels-shrimp-tomato-sauce-parsley_rlqew7.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742998/plate-with-bread-fried-egg-avocado_loqhmp.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761743078/side-view-pizza-with-chopped-pepper-board-cookware_pa1nj5.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761743056/restaurant-with-green-wall-wooden-table-with-row-tables-planter-with-plant-background_qoyzv6.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742985/meatballs-plate-garnished-with-tomato-sauce-grated-parmesan-parsley-served-with-red-wine_lanswf.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742939/delicious-pizza-indoors_oap1ks.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="https://res.cloudinary.com/dedz0kba0/image/upload/v1761742967/heart-shape-made-flowers_fhryik.jpg" alt="Gallery">
                </a>


            </div>
            

        </div>
    </aside>
</header>

<div class="overlay" id="overlay"></div>


<div class="scroll-to-top-button" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>
