<header>
    <div class="top-line"></div>
    <nav class="nav-bar">

        <div class="logo">
            <img src="images/logo-light-transparent.png" alt="logo" class="logo-img light">
            <img src="images/logo-dark-transparent.png" alt="logo" class="logo-img dark">
        </div>


        <ul class="nav-links" id="navLinks">
            <li><a href="index.html">HOME</a></li>
            <li><a href="nav/menu.html">MENU</a></li>
            <li><a href="nav/reservation.html">RESERVATION</a></li>
            <li><a href="nav/gallery.html">GALLERY</a></li>
            <li><a href="nav/about.html">ABOUT</a></li>
            <li><a href="nav/blog.html">BLOG</a></li>
            <li><a href="nav/contact.html">CONTACT</a></li>
        </ul>

        <div class="social-icon">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>


        <div class="burger-menu" id="burger">
            <span></span>
            <span></span>
        </div>

    </nav>

    <aside class="side-menu" id="sideMenu">
        <div class="close-btn" id="closeBtn">&times;</div>

        <ul class="nav-links-side">
            <li><a href="index.html">HOME</a></li>
            <li><a href="nav/menu.html">MENU</a></li>
            <li><a href="nav/gallery.html">GALLERY</a></li>
            <li><a href="nav/about.html">ABOUT</a></li>
            <li><a href="nav/blog.html">BLOG</a></li>
            <li><a href="nav/contact.html">CONTACT</a></li>
        </ul>
        <a href="#" class="reserv-btn">RESERVATION</a>

        <div class="side-gallery" id="sideGallery">
            <h4 class="sidebar-gallery">
                Gallery
            </h4>

            <div class="wrap-sidebar-gallery">
                <a href="images/" class="item-gallery-sidebar">
                    <img src="images/ambitious-studio-rick-barrett-9n93X-uCD-E-unsplash.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="images/ai-generated-pasta.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="images/pasta-with-tomato-sauce-with-vegetables.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="images/seafood-spaghetti-with-mussels-shrimp-tomato-sauce-parsley.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="images/front-view-pasta-with-minced-meat-brown-floor.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="images/restaurant-interior.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="images/backside-photo-romantic-black-couple-sitting-restaurant-wearing-elegant-clothes.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="images/Ricotta-Polpette-FT-RECIPE0723-420aee27e58a410080366740cd1aa08c.jpg" alt="Gallery">
                </a>

                <a href="images/" class="item-gallery-sidebar">
                    <img src="images/pasta-with-tomato-sauce-with-vegetables.jpg" alt="Gallery">
                </a>


            </div>
            

        </div>
    </aside>
</header>

<div class="overlay" id="overlay"></div>


<div class="scroll-to-top-button" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
</div>
